* {
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.links {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.links:hover {
    text-decoration: none;
    color: #fff;
}

.links-two {
    text-decoration: none;
    color: #000000;
}